{% load humanize %}
<div class="p-4 sm:p-6 pt-0 space-y-4">
  {% if paiements %}
    {% for paiement in paiements %}
      <div class="p-4 bg-white rounded-lg border text-sm space-y-1 sm:space-y-2 w-full">
        <p><strong>Montant :</strong> {{ paiement.montant|intcomma }} FCFA</p>
        <p><strong>Campagne :</strong>
          {% if paiement.cotisation %}
            {{ paiement.cotisation.libelle|default:"Non spécifiée" }}
          {% else %}
            Campagne inconnue
          {% endif %}
        </p>
        <p><strong>Date :</strong> {{ paiement.date_paiement|date:"d/m/Y" }}</p>
        <p><strong>Moyen :</strong>
          {% if paiement.moyen_paiement %}
            {{ paiement.moyen_paiement.libelle }}
          {% else %}
            Non précisé
          {% endif %}
        </p>
        <p><strong>Validé par:</strong>
          {% if paiement.validee_par %}
            {{ paiement.validee_par.prenom }} {{ paiement.validee_par.nom }}
          {% else %}
            Validateur inconnu
          {% endif %}
        </p>
      </div>
    {% endfor %}
  {% else %}
    <p class="text-muted-foreground">Aucun paiement enregistré.</p>
  {% endif %}
</div>